*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      font-family: "Anta", sans-serif;
      font-weight: 400;
      font-style: normal;
}


body{
  background-color: bisque;
  height: 100vh;
}

body a:hover{
  transform: scale(1.05);
}


.container {
  margin: 0 auto;
  max-width: 1280px;
}

header {
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(252, 212, 164);
  color: bisque;
}

header a{
  color: rgba(12, 12, 12, 0.404);
  text-decoration: none;
  display: inline-block;
}

header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  padding: 0 2pc;
  font-size: large;
}

header nav ul li a:hover{
  color: black;
}

header .botao:hover{
  transform: scale(1.05);
}

header .botao {
  padding: 1pc 2pc;
  font-size: large;
  background-color: #fcd4cd;
  border-radius: 1pc;
  cursor: pointer;
}


.logo > a > img {
  height: 10pc;
  width: 10pc;
}

.conteúdo {
  margin-top: 11pc ;


}

.conteúdo  #início  .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.conteúdo .container .introdução {
  padding: 0;
}

#início .container p{
  max-width: 60pc;
  max-height: fit-content;
}

.d20 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1pc;
}

.d20 img {
  height: auto;
  width: 6pc;
}

.d20 a:hover {
  transform: scale(1.05);
}

.d20 p {
  text-align: center;
}

#projetos .container {
  margin-top: 2pc;
}

.projeto {
  margin: 1pc;
}

.projeto p {
  margin-top: 0.5pc;
}

#contatos {
  margin-top: 4pc;
}

#contatos ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

#contatos ul li a img {
  height: 10pc;
  width: auto;
}

#contatos ul li p {
  text-align: center;
}