*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      font-family: "Anta", sans-serif;
      font-weight: 400;
      font-style: normal;
}


body{
  background-color: bisque;
  height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}

header {
  padding: 1pc;
}

header a{
  color: rgba(12, 12, 12, 0.404);
  text-decoration: none;
  display: inline-block;
}

header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  padding: 0 2pc;
  font-size: large;
}

header nav ul li a:hover{
  color: black;
  transform: scale(1.05);
}

header .botao {
  padding: 1pc 2pc;
  font-size: large;
  background-color: #fcd4cd;
  border-radius: 1pc;
  cursor: pointer;
}

header .botao:hover{
  transform: scale(1.05);
}

.logo > a > img {
  height: 10pc;
  width: 10pc;
}



.conteúdo {
  
}

.conteúdo  #início  .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.conteúdo .container .introdução {
  padding: 1pc;
}

#início .container p{
  max-width: 60pc;
  max-height: fit-content;
}

#início .container img {
  height: auto;
  width: 6pc;
}