*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    
    list-style: none;
    margin: 3pc; 
  }
  
  .navbar a {
    text-decoration: none;
    display: block;
    padding: 1pc;
    color: white;
    border: 2pc;
  }
  
  .navbar a:hover {
    background: #1565C0;
  }
  


#cabeçalho {
    background-color: aqua;
    margin: 0pc;
    padding: 0pc;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#eu {
    height: 10pc;
    width: 10pc;
}

.elemento_cabeçalho {
    display: inline-block;
}